@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    Page.Title = ViewBag.appConfig.application.fullName + " - Szczegóły";
}

<link rel="stylesheet" type="text/css" href="/Content/css/table/table.css?v=@DateTime.Now" />
<link rel="stylesheet" type="text/css" href="/Content/css/lost-person/lost-person-details.css?v=@DateTime.Now" />
<link rel="stylesheet" type="text/css" href="/Content/css/util/profile-image.css?v=@DateTime.Now" />
@if((ViewBag.currentlyLoggedUser != null && ViewBag.lostPerson.account.id == ViewBag.currentlyLoggedUser.id && ViewBag.lostPerson.status.id == 1) || ViewBag.currentlyLoggedUser.accountRole.id == 2)
{
<link rel="stylesheet" type="text/css" href="/Content/css/form/button/button.css?v=@DateTime.Now" />
<link rel="stylesheet" type="text/css" href="/Content/css/modal/modal.css?v=@DateTime.Now" />
<link rel="stylesheet" type="text/css" href="/Content/css/form/input/input.css?v=@DateTime.Now" />
}

<div class="card">
    <div class="lost-person-details-dashboard">
        <div class="lost-person-details-dashboard__section">
            @if (ViewBag.lostPerson.images.Count > 0) {
                <div class="lost-person-details__avatar" data-image="@LostPersonImageUtils.convertImageToBase64(@ViewBag.appConfig.dataFolder.path + LostPersonUtils.getFullFilePath(@ViewBag.lostPerson) + "\\" + ViewBag.lostPerson.images[0].imageName)"></div>   
            }
            else {
                <div class="lost-person-details__avatar"></div>
            }
        </div>
        <div class="lost-person-details-dashboard__section">
            <div class="lost-person-details-dashboard__section__header">
                <h1>@ViewBag.lostPerson.firstName @ViewBag.lostPerson.lastName</h1>
                <div class="button-group">
                    @if(ViewBag.currentlyLoggedUser.accountRole.id == 2)
                    {
                        <button class="button" id="modify-lost-person-data-button">Modyfikuj dane</button>
                    }
                    @if(ViewBag.currentlyLoggedUser != null && (ViewBag.lostPerson.account.id == ViewBag.currentlyLoggedUser.id || ViewBag.currentlyLoggedUser.accountRole.id == 2) && ViewBag.lostPerson.status.id == 1)
                    {
                        <form method="POST" action="/lostPerson/makeLostPersonFound?lostPersonId=@ViewBag.lostPerson.id">
                            <button type="submit" class="button" id="mark-as-found-button">Oznacz jako odnalezioną</button>
                        </form>
                    }
                </div>
            </div>
            <div class="lost-person-details-dashboard__section__content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Atrybut</th>
                            <th>Wartość</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Utworzono przez</td>
                            <td>
                                <b>@ViewBag.lostPerson.account.firstName @ViewBag.lostPerson.account.lastName</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Data zaginięcia osoby</td>
                            <td><b>@ViewBag.lostPerson.lostPersonDate.ToString("dd MMM yyyy")</b></td>
                        </tr>
                        <tr>
                            <td>Miejsce ostatniego pobytu osoby</td>
                            <td><b>@ViewBag.lostPerson.lastPlaceName</b></td>
                        </tr>
                        <tr>
                            <td>Wzrost</td>
                            <td><b>@(ViewBag.lostPerson.height)cm</b></td>
                        </tr>
                        <tr>
                            <td>Data utworzenia</td>
                            <td><b>@ViewBag.lostPerson.createdDate.ToString("dd MMM yyyy, HH:mm:ss")</b></td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                <span class="table__cell__lost-person-status table__cell__lost-person-status--@(ViewBag.lostPerson.status.id == 1 ? "bad" : "good")">
                                    @ViewBag.lostPerson.status.name
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Adres zamieszkania osoby</td>
                            <td>
                            @if(ViewBag.lostPerson.address is VillageLostPersonAddress) {
                                <b>@ViewBag.lostPerson.address.village @ViewBag.lostPerson.address.apartmentNumber</b>
                            }
                            else {
                                <b>
                                    @(ViewBag.lostPerson.address.city), ul. @ViewBag.lostPerson.address.street @(ViewBag.lostPerson.address.flatNumber)/@ViewBag.lostPerson.address.apartmentNumber
                                </b>
                            }
                            </td>
                        </tr>
                        @if(ViewBag.lostPerson.additionalDetails.Count > 0) 
                        {
                            <tr>
                                <td>Znaki szczególne</td>
                                <td>
                                @foreach (LostPersonAdditionalDetail additionalDetail in ViewBag.lostPerson.additionalDetails)
                                {
                                    <span class="lost-person-additional-detail">@additionalDetail.attribute: @additionalDetail.value</span>
                                }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@if(ViewBag.currentlyLoggedUser != null && (ViewBag.lostPerson.account.id == ViewBag.currentlyLoggedUser.id || ViewBag.currentlyLoggedUser.accountRole.id == 2) && ViewBag.lostPerson.status.id == 1)
{
    <div class="modal-overlay" id="mark-as-found-modal">
        <div class="modal">
            <div class="modal__section modal__header">
                <div class="modal__header__icon">
                    <i class="fas"></i>
                </div>
                <div class="modal__header__title"></div>
                <div class="modal__close-button modal__header__close-button"></div>
            </div>
            <div class="modal__section modal__content">
                <p>Czy na pewno chcesz oznaczyć osobę <b>@ViewBag.lostPerson.firstName @ViewBag.lostPerson.lastName</b> jako odnalezioną?</p>
            </div>
            <div class="modal__section modal__footer">
                <div class="button-group">
                    <button class="button modal__close-button modal__close-button--approve">Tak</button>
                    <button class="button modal__close-button">Nie</button>
                </div>
            </div>
        </div>
    </div>
}

@if(ViewBag.currentlyLoggedUser.accountRole.id == 2)
{
    <div class="modal-overlay" id="modify-lost-person-data-modal">
        <div class="modal">
            <div class="modal__section modal__header">
                <div class="modal__header__icon">
                    <i class="fas"></i>
                </div>
                <div class="modal__header__title">Modyfikuj dane osoby zaginionej</div>
                <div class="modal__close-button modal__header__close-button"></div>
            </div>
            <div class="modal__section modal__content">
                <div class="modify-lost-person-data-form">
                    <div class="input input--hidden">
                        <input type="hidden" name="id" value="@ViewBag.lostPerson.id" />
                    </div>
                    <div class="input input--hidden">
                        <input type="hidden" name="createdAccountId" value="@ViewBag.lostPerson.createdAccountId" />
                    </div>
                    <div class="input input--hidden">
                        <input type="hidden" name="statusId" value="@ViewBag.lostPerson.statusId" />
                    </div>
                    <div class="input">
                        <label for="firstName" class="input__label">Imię</label>
                        <input type="text" name="firstName" id="firstName" value="@ViewBag.lostPerson.firstName" />
                    </div>
                    <div class="input">
                        <label for="lastName" class="input__label">Nazwisko</label>
                        <input type="text" name="lastName" id="lastName" value="@ViewBag.lostPerson.lastName" />
                    </div>
                    <div class="input">
                        <label for="lostPersonDate" class="input__label">Data zaginięcia osoby</label>
                        <input type="date" name="lostPersonDate" id="lostPersonDate" value="@ViewBag.lostPerson.lostPersonDate.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="input">
                        <label for="lastPlaceName" class="input__label">Data zaginięcia osoby</label>
                        <input type="text" name="lastPlaceName" id="lastPlaceName" value="@ViewBag.lostPerson.lastPlaceName" />
                    </div>
                    <div class="input">
                        <label for="height" class="input__label">Wzrost</label>
                        <input type="number" name="height" id="height" value="@ViewBag.lostPerson.height" min="1" />
                    </div>
                    <div class="input input--hidden">
                        <input type="hidden" name="createdDate" value="@ViewBag.lostPerson.createdDate.ToString("yyyy-MM-dd HH:mm:ss")" />
                    </div>
                    <div class="input input--hidden">
                        <input type="hidden" name="lostPersonAddressId" value="@ViewBag.lostPerson.address.id" />
                    </div>
                    @if(ViewBag.lostPerson.address is VillageLostPersonAddress)
                    {
                        <div class="input">
                            <label for="village" class="input__label">Miejscowość</label>
                            <input type="text" name="village" id="village" value="@ViewBag.lostPerson.address.village" min="1" />
                        </div>
                        <div class="input">
                            <label for="apartmentNumber" class="input__label">Miejscowość</label>
                            <input type="number" name="apartmentNumber" id="apartmentNumber" value="@ViewBag.lostPerson.address.apartmentNumber" min="1" />
                        </div>
                    }
                    else {
                        <div class="input">
                            <label for="city" class="input__label">Miasto</label>
                            <input type="text" name="city" id="city" value="@ViewBag.lostPerson.address.city" />
                        </div>
                        <div class="input">
                            <label for="street" class="input__label">Ulica</label>
                            <input type="text" name="street" id="street" value="@ViewBag.lostPerson.address.street" />
                        </div>
                        <div class="input-group">
                            <div class="input">
                                <label for="flatNumber" class="input__label">Numer domu</label>
                                <input type="number" name="flatNumber" id="flatNumber" value="@ViewBag.lostPerson.address.flatNumber" min="1" />
                            </div>
                            <div class="input">
                                <label for="cityApartmentNumber" class="input__label">Numer mieszkania</label>
                                <input type="number" name="cityApartmentNumber" id="cityApartmentNumber" value="@ViewBag.lostPerson.address.apartmentNumber" min="1" />
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="modal__section modal__footer">
                <div class="button-group">
                    <button class="button modal__close-button modal__close-button--approve">Zaktualizuj</button>
                    <button class="button modal__close-button">Anuluj</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-overlay" id="modify-lost-person-data-confirm-modal">
        <div class="modal">
            <div class="modal__section modal__header">
                <div class="modal__header__icon">
                    <i class="fas"></i>
                </div>
                <div class="modal__header__title"></div>
                <div class="modal__close-button modal__header__close-button"></div>
            </div>
            <div class="modal__section modal__content"></div>
            <div class="modal__section modal__footer">
                <button class="button modal__close-button modal__close-button--approve">OK</button>
            </div>
        </div>
    </div>
}

<script type="module" src="/Content/js/lost-person/LostPersonDetails.js?v=@DateTime.Now"></script>