@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    Page.Title = ViewBag.appConfig.application.fullName;
    ViewBag.index = 1;
}

<link rel="stylesheet" type="text/css" href="~/Content/css/modal/modal.css?v=@DateTime.Now" />
<link rel="stylesheet" type="text/css" href="/Content/css/account/account.css?v=@DateTime.Now" />
<link rel="stylesheet" type="text/css" href="/Content/css/form/button/button.css?v=@DateTime.Now" />
<link rel="stylesheet" type="text/css" href="/Content/css/form/input/input.css?v=@DateTime.Now" />
<link rel="stylesheet" type="text/css" href="/Content/css/util/loading-overlay.css?v=@DateTime.Now" />
<link rel="stylesheet" type="text/css" href="/Content/css/util/alert.css?v=@DateTime.Now" />
<link rel="stylesheet" type="text/css" href="/Content/css/table/table.css?v=@DateTime.Now" />
<link rel="stylesheet" type="text/css" href="/Content/css/util/profile-image.css?v=@DateTime.Now" />

<div class="account-dashboard">
    <div class="account-dashboard__section account-dashboard__section--horizontal">
        <div class="card account-dashboard__section__item account-panel account-panel--user-data">
            <div class="account-panel__section account-panel__header">
                <div class="account-panel__header__title">
                    <h1>Podstawowe dane użytkownika</h1>
                </div>
            </div>
            <div class="account-panel__section account-panel__content">
                <div class="account-avatar">
                    <div class="account-avatar__image">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="account-avatar__caption">
                        <h2>@(ViewBag.currentlyLoggedUser.firstName + " " + ViewBag.currentlyLoggedUser.lastName)</h2>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Właściwość</th>
                            <th>Wartość</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Data dołączenia</td>
                            <td><b>@ViewBag.currentlyLoggedUser.createdDate.ToString("yyyy-MM-dd HH:mm:ss")</b></td>
                        </tr>
                        <tr>
                            <td>Rola</td>
                            <td><b>@ViewBag.currentlyLoggedUser.accountRole.name</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card account-dashboard__section__item account-panel update-user-data-panel">
            <div class="account-panel__section account-panel__header">
                <div class="account-panel__header__title">
                    <h1>Ustawienia konta</h1>
                </div>
            </div>
            <div class="account-panel__section account-panel__content">
                <div class="input">
                    <label for="username" class="input__label">Nazwa użytkownika</label>
                    <input type="text" name="username" id="username" value="@ViewBag.currentlyLoggedUser.username" />
                </div>
                <div class="input">
                    <label for="firstName" class="input__label">Imię</label>
                    <input type="text" name="firstName" id="firstName" value="@ViewBag.currentlyLoggedUser.firstName" />
                </div>
                <div class="input">
                    <label for="lastName" class="input__label">Nazwisko</label>
                    <input type="text" name="lastName" id="lastName" value="@ViewBag.currentlyLoggedUser.lastName" />
                </div>
                <div class="input">
                    <label for="emailAddress" class="input__label">Adres e-mail</label>
                    <input type="text" name="emailAddress" id="emailAddress" value="@ViewBag.currentlyLoggedUser.emailAddress" />
                </div>
                <div class="input">
                    <label for="birthDate" class="input__label">Data urodzenia</label>
                    <input type="date" name="birthDate" id="birthDate" value="@ViewBag.currentlyLoggedUser.birthDate.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
            </div>
            <div class="account-panel__section account-panel__footer">
                <div class="button-group">
                    <button class="button change-password-button">Zmień hasło</button>
                    <button class="button update-account-details-button" disabled>Zaktualizuj dane</button>
                </div>
            </div>
            <div class="loading-overlay loading-overlay--light" id="update-account-overlay"></div>
        </div>
    </div>
    <div class="account-dashboard__section">
        <div class="card account-dashboard__section__item account-panel">
            <div class="account-panel__section account-panel__header">
                <div class="account-panel__header__title">
                    <h1>Lista dodanych zaginionych</h1>
                </div>
                <button class="button create-new-lost-person-button">Dodaj nową zaginioną osobę</button>
            </div>
            <div class="account-panel__section account-panel__content">
                @if(ViewBag.currentlyLoggedUser.lostPersonList.Count == 0) {
                    <link rel="stylesheet" type="text/css" href="/Content/css/account/account-no-lost-person.css?v=@DateTime.Now" />
                    <div class="account-no-lost-person">
                        <h1>Nie dodałeś żadnej zaginionej osoby.</h1>
                        <p>Aby ją dodać, kliknij w przycisk <b>Dodaj nową zaginioną osobę</b></p>
                    </div>
                }
                else {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Zdjęcie</th>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                                <th>Data zaginięcia</th>
                                <th>Wzrost</th>
                                <th>Ostatnie miejsce pobytu</th>
                                <th>Status</th>
                                <th>Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(LostPerson lostPerson in ViewBag.currentlyLoggedUser.lostPersonList) 
                            {
                                <tr>
                                    <td>@(ViewBag.index++)</td>
                                    <td>
                                        @if(lostPerson.images.Count > 0) {
                                            <div class="lost-person-thumbnail" data-image="@LostPersonImageUtils.convertImageToBase64(@ViewBag.appConfig.dataFolder.path + LostPersonUtils.getFullFilePath(@lostPerson) + "\\" + lostPerson.images[0].imageName)"></div>
                                        }
                                        else {
                                            <div class="lost-person-thumbnail" data-image=""></div>
                                        }
                                    </td>
                                    <td>@lostPerson.firstName</td>
                                    <td>@lostPerson.lastName</td>
                                    <td>@lostPerson.lostPersonDate.ToString("yyyy-MM-dd")</td>
                                    <td>@(lostPerson.height)cm</td>
                                    <td>@lostPerson.lastPlaceName</td>
                                    <td>
                                        <span class="table__cell__lost-person-status table__cell__lost-person-status--@(lostPerson.status.id == 1 ? "bad" : "good")">@lostPerson.status.name</span>
                                    </td>
                                    <td>
                                        <a target="_blank" href="/lostPerson/details?lostPersonId=@lostPerson.id">Szczegóły</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>


<div class="modal-overlay" id="change-password-modal">
    <div class="modal">
        <div class="modal__section modal__header">
            <div class="modal__header__icon">
                <i class="fas"></i>
            </div>
            <div class="modal__header__title">Zmień hasło</div>
            <div class="modal__close-button modal__header__close-button"></div>
        </div>
        <div class="modal__section modal__content">
            <form method="POST">
                <div class="input">
                    <label for="currentPassword" class="input__label">Podaj aktualne hasło</label>
                    <input type="password" name="currentPassword" id="currentPassword" autocomplete="off" />
                </div>
                <div class="input">
                    <label for="newPassword" class="input__label">Podaj nowe hasło</label>
                    <input type="password" name="newPassword" id="newPassword" autocomplete="off" />
                </div>
                <div class="input">
                    <label for="confirmedPassword" class="input__label">Powtórz nowe hasło</label>
                    <input type="password" name="confirmedPassword" id="confirmedPassword" autocomplete="off" />
                </div>
            </form>
        </div>
        <div class="modal__section modal__footer">
            <div class="button-group">
                <button class="button modal__close-button modal__close-button--approve">OK</button>
                <button class="button modal__close-button">Anuluj</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay" id="update-account-details-modal">
    <div class="modal">
        <div class="modal__section modal__header">
            <div class="modal__header__icon">
                <i class="fas"></i>
            </div>
            <div class="modal__header__title"></div>
            <div class="modal__close-button modal__header__close-button"></div>
        </div>
        <div class="modal__section modal__content"></div>
        <div class="modal__section modal__footer">
            <button class="button modal__close-button modal__close-button--approve">OK</button>
        </div>
    </div>
</div>

<div class="modal-overlay" id="create-new-lost-person-modal">
    <div class="modal">
        <div class="modal__section modal__header">
            <div class="modal__header__icon">
                <i class="fas"></i>
            </div>
            <div class="modal__header__title">Dodaj nową zaginioną osobę</div>
            <div class="modal__close-button modal__header__close-button"></div>
        </div>
        <div class="modal__section modal__content">
            <div class="account-create-lost-person-form">
                <div class="account-create-lost-person-form__section">
                    <div class="account-create-lost-person-form__input-section">
                        <h2>Zdjęcie osoby</h2>
                        <div class="input input--file">
                            <div class="input__image-preview"></div>
                            <label for="thumbnail" class="input__label button">Wybierz plik</label>
                            <input type="file" name="thumbnail" id="thumbnail" accept="image/*" />
                        </div>
                    </div>
                    <div class="account-create-lost-person-form__input-section">
                        <h2>Znaki szczególne</h2>
                        <div class="account-additional-details-wrapper">
                            <div class="account-additional-details-list">
                            </div>
                            <div class="account-additional-details-form">
                                <div class="input-group">
                                    <div class="input">
                                        <label for="additionalDetailAttribute" class="input__label">Nazwa znaku szczególnego</label>
                                        <input type="text" name="additionalDetailAttribute" id="additionalDetailAttribute" />
                                    </div>
                                    <div class="input">
                                        <label for="additionalDetailValue" class="input__label">Wartość</label>
                                        <input type="text" name="additionalDetailValue" id="additionalDetailValue" />
                                    </div>
                                </div>
                                <button class="button create-additionl-detail-button">Dodaj</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-create-lost-person-form__section">
                    <div class="account-create-lost-person-form__input-section">
                        <h2>Dane podstawowe</h2>
                        <div class="input">
                            <label for="lostPersonFirstName" class="input__label">Imię</label>
                            <input type="text" name="lostPersonFirstName" id="lostPersonFirstName" />
                        </div>
                        <div class="input">
                            <label for="lostPersonLastName" class="input__label">Nazwisko</label>
                            <input type="text" name="lostPersonLastName" id="lostPersonLastName" />
                        </div>
                        <div class="input">
                            <label for="lostPersonDate" class="input__label">Data zaginięcia osoby</label>
                            <input type="date" name="lostPersonDate" id="lostPersonDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="input">
                            <label for="lastPlaceName" class="input__label">Ostatnie miejsce pobytu</label>
                            <input type="text" name="lastPlaceName" id="lastPlaceName" />
                        </div>
                        <div class="input">
                            <label for="height" class="input__label">Wzrost</label>
                            <input type="number" name="height" id="height" min="1" />
                        </div>
                    </div>
                    <div class="account-create-lost-person-form__input-section">
                        <h2>Adres zamieszkania</h2>
                        <div class="input input--choice">
                            <input type="checkbox" name="inVillage" id="inVillage"/>
                            <label for="inVillage" class="input__label">
                                Osoba mieszkała we wsi
                            </label>
                        </div>
                        <div class="input">
                            <label for="city" class="input__label">Miasto</label>
                            <input type="text" name="city" id="city" />
                        </div>
                        <div class="input">
                            <label for="street" class="input__label">Ulica</label>
                            <input type="text" name="street" id="street" />
                        </div>
                        <div class="input-group">
                            <div class="input">
                                <label for="flatNumber" class="input__label">Numer domu</label>
                                <input type="number" name="flatNumber" id="flatNumber" min="1" />
                            </div>
                            <div class="input">
                                <label for="apartmentNumber" class="input__label">Numer mieszkania</label>
                                <input type="number" name="apartmentNumber" id="apartmentNumber" min="1" />
                            </div>
                        </div>
                        <div class="input">
                            <label for="village" class="input__label">Miejscowość</label>
                            <input type="text" name="village" id="village" />
                        </div>
                        <div class="input">
                            <label for="villageApartmentNumber" class="input__label">Numer domu</label>
                            <input type="number" name="villageApartmentNumber" id="villageApartmentNumber" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal__section modal__footer">
            <div class="button-group">
                <button class="button modal__close-button modal__close-button--approve">Utwórz</button>
                <button class="button modal__close-button">Anuluj</button>
            </div>
        </div>
    </div>
</div>

<div class="alert">
    <div class="alert__icon">
        <i class="fas fa-info-circle"></i>
    </div>
    <div class="alert__content"></div>
    <div class="alert__close-button">
        <i class="fas fa-times"></i>
    </div>
</div>

<div class="loading-overlay loading-overlay--full-screen" id="full-page-loading-overlay"></div>

<script type="module" src="/Content/js/account/Account.js?v=@DateTime.Now"></script>